* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #1e6f5c;
  display: flex;
  margin: 5%;

}

.robo {
justify-content: center;
display: inline-flex; 
}

.cartao {
  background-color: #91c788;
  width: 260px;
  margin: 30px;
  border-radius: 30px;
  padding: 30px;
  height: 380px;
  color: #464f41;
}

.cartao img{
  margin-bottom: 20px;
}